.header {
    grid-area: header;
    background-color: #4195a9;
}

.header img {
    width: 40px;
    margin: 10px;
}

.loginBlock {
    float: right;
}

.loginBlock a {
    color: white;
    padding: 10px;
    text-decoration: none;
}